.header-logo-top {
    background-color: $green-text;
}

.conteiner {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    margin: 0 -15px;
}

.header-top {
  
    height: 55px;
    display: flex;
 
    align-items: center;
    padding-left: 5px;
  
    font-family: 'Poppins', sans-serif;
  padding-right: 181px;
 }
 
 .address {
     display: flex;
    
 }
 .address li {
     padding-right: 20px;
     display: flex;
     align-items: center;
 }
 .mobile-email {
     width: 20px;
     height: 20px;
     background-image: url(images/email-logo-mobile.svg);
     background-repeat: no-repeat;
 }
 .mobile-phone {
     width: 20px;
     height: 20px;
    background-image: url(images/phone-mobile.svg);
    background-repeat: no-repeat;
 }
 .mobile-kol {
     width: 20px;
     height: 20px;
     background-image: url(images/location-mobile.svg);
     background-repeat: no-repeat;
 }
 .header-top a {
   display: none;
 }
 
 .mobile-polo {
    position: relative;
    list-style-type: none;
    width: 66px;
    align-items: center;
    display: flex;
    
 }
 .mobile-polo a {
    position: absolute;
   text-decoration: none;
   color: white;     
   font-size: 14px;
   
   display: flex;
   justify-content: center;
 }
 
 .polo-img {
     width: 12px;
     height: 6.84px;
     background-image: url(images/arrow-white.svg);
     position: relative;
     left: 52px;
   }
 
 
 .header-button {
    
     height: 70px;
     display: flex;
     align-items: center;
     padding-left: 5px;
     padding-right: 5px;
     font-family: 'Nunito', sans-serif; 
 }  
 .header-logo {
    width: 90px;
    height: 40px;
    
    display: flex;
//  }
 
//  .logo {
    
    background-image: url(images/logo-mobile.svg);
    
    background-repeat: no-repeat;
   
}
 .logo-menu {
    display: none;
 }
 .logo-call { 
     width: 40px;
     height: 34px;
     border: none;
     border-radius: 10px;
     background-color: #00730C;
     align-items: center;
     display: flex;
    
 }
 
 
 .logo-call-img {
    width: 20px;
    height: 20px;
     background-position: center;
     background-image: url(images/group-mobile.svg);
     background-repeat: no-repeat;
    
 }
 
 .logo-call a {
     display: none;
 }
 





@media(min-width:1120px) {



.header-logo-top {
    background-color: $green-text;
}

.conteiner {
    max-width: 1418px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    margin: 0 -15px;
}



.header-top {
  
   height: 59px;
   display: flex;

   align-items: center;
   padding-left: 5px;
 
   font-family: 'Poppins', sans-serif;
   padding-right:548px ;
}

.address {
    display: flex;
   
}
.address li {
    padding-right: 30px;
    display: flex;
    align-items: center;
}
.mobile-email {
    width: 281px;
    height: 25px;
    background-image: url(images/email-logo.svg);
    background-repeat: no-repeat;
}
.mobile-phone {
    width: 135px;
    height: 25px;
   background-image: url(images/phone.svg);
   background-repeat: no-repeat;
}
.mobile-kol {
    width: 275px;
    height: 25px;
    background-image: url(images/location.svg);
    background-repeat: no-repeat;
}
.header-top a {
   position: absolute;
   text-decoration: none;
   color: white;     
   font-size: 14px;
   padding-left: 35px;
   display: flex;
   justify-content: center;
}


.mobile-polo {
   position: relative;
   list-style-type: none;
   width: 66px;
   align-items: center;
   display: flex;
   
}
.mobile-polo a {
    position: absolute;
    text-decoration: none;
    color: white;     
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}
.polo-img {
    width: 12px;
    height: 6.84px;
    background-image: url(images/arrow-white.svg);
    position: relative;
    left: 52px;
  }


.header-button {
   
    height: 85px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Nunito', sans-serif; 
}   
.header-logo {
    width: 120px;
    height: 55px;
    display: flex;
// }
// .logo {
  
    background-image: url(images/logo.svg);
    background-repeat: no-repeat;
   
}

.logo-menu {
    display: flex;
    height: 50px;
    padding-left: 390px; 
    align-items: center;
    padding-right: 56px;  
}
.logo-menu li {
    position: relative;
    margin-right: 44px;
}
.logo-menu-home {
    width: 62px;
    position: relative;
}
.logo-menu-company {
    width: 87px;
    position: relative;
} 
.logo-menu-services {
    width: 79px;
    position: relative;
}
.logo-menu-project {
    width: 70px;
    position: relative;
}
.logo-menu-blog {
    width: 52px;
    position: relative;
}
.logo-menu-contact {
    width: 58px;
}
.logo-menu a {
    font-size: 16px;
    line-height: 42.5px;
    color: #212529;
    text-decoration: none;
    
  
}
.logo-arrow {
   display: block;
    width: 12px;
    height: 6.84px;
    background-image: url(images/arrow-black.svg); 
    position: absolute;
    right: 3px;
    top: 19px;
}
.logo-menu a:hover  {
    color: #00730C;
}
.logo-arrow:hover { 
    background-image: url(images/arrow-green.svg); 
}

.logo-call { 
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #00730C;
    align-items: center;
    display: flex;
   
   
}


.logo-call-img {
    height: 30px;
    background-position: center;
    background-image: url(images/group.svg);
    background-repeat: no-repeat;
    padding-left: 60px;  
}

.logo-call a {
    font-size: 18px;
    font-family:'Nunito', sans-serif ;
    color: white;
    text-decoration: none;   
    display: block;
}


}