.main-what-clients {
    background-color: #E6F6EA;
    height: 585px;
    color: #676767;
}
.what-clients {
    position: relative;
    display: flex;
}


.what-clients-text {
    width: 375px;
    height: 585px;
    display: block;
    padding-top: 50px;
    position: absolute;
    
}
.what-clients-text a {
   
    padding-left: 32.5px;
    font-size: 28px;
    line-height: 38px;
    color: #212529;
    text-align: center;
    text-decoration: none;
   
}
.what-clients-text b {
    color: #00730C;
    
}
.what-clients-text p {
    width: 345px;
    height: 110px;
    padding-top: 15px;
    font-size: 14px;
    line-height: 22px;
  
}


.main-what-clients-saying {
    height: 341px;
    display: flex;
}
.what-clients-saying {
    width: 345px;
    height: 431px;
    background-color: white;
    display: block;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
}

.what-clients-saying-img {
    display: block;
    width: 135px;
    height: 183px;
    background-image: url(images/clients-saying-mobile.svg);
    margin:  20px 20px 40px;
   
}
.two-coma {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(images/two-coma-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 20%;
    position: relative;
    margin-bottom: -20px;
}
.what-clients-saying-text-star {
    width: 305px;
    height: 109px;
    font-size: 14px;
    line-height: 18px;
    margin: 0  20px 15px;
   
}

.what-clients-saying-rating {
    display: flex;
}

.what-clients-saying-rating a {
    display: block;
    width: 81px;
    height: 22px;
    font-size: 16px;
    line-height: 22px;
    color: #212529;
    font-weight: 400;
    text-decoration: none;
    margin: 15px 0 2px;
    
}
.what-clients-saying-rating p {
    font-size: 12px;
    width: 48px;
    height: 16px;
}
.what-clients-saying-star {
    width: 124px;
    height: 25px;
    margin-top: 22px;
    display: flex;
    margin-left: 80px;
   
}
.clients-saying-star {
    width: 20px;
    height: 20px;
    background-image: url(images/star-green-mobile.svg);
    margin-right: 14px;
}
.what-two {
    display: none;
}
.what-three {
    display: none;
}

.slick-initialized .slick-slide {
    display: flex;
    margin-left: 0;
    gap: 5px;
}

.slick-slider {
    margin-top: -323px;
}

.slick-prev, .slick-next {
    margin-top: -205px;
    display: block;
    border: 1px solid #00730C;
    border-radius: 5px;
    font-size: 0%;
}

.slick-prev {
    left: 250px;
    right: auto;
    background: url(images/slider-arrow-green.svg); 
    width: 30px;
    height: 30px;  
    background-position: center;
    background-repeat: no-repeat;
}
.slick-next {
    left: 300px;
    right: auto;
    background: url(images/slider-arrow-white.svg);
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.slick-prev:hover, .slick-prev:focus {
    background: url(images/slider-arrow-green.svg);
    background-color: #00730C;
    background-position: center;
    background-repeat: no-repeat;  
}
.slick-next:hover, .slick-next:focus {
    background: url(images/slider-arrow-white.svg);
    background-color: #00730C;
    background-position: center;
    background-repeat: no-repeat;
}
.slick-prev:before {
    font-size: 0;
   
  }
  .slick-next:before {
    font-size: 0;
  }




@media(min-width:1120px) {
    .what-clients-text {
        width: 442px;
        padding-top: 50px;
    }
    .what-clients-text a {
        padding-left:0px;
        font-size: 45px;
        line-height: 61px;  
    }
   
    .what-clients-text p {
        width: 956px;
        height: 60px;
        padding-top: 30px;
        font-size: 18px;
        line-height: 30px;
      
    }

    .what-clients-saying {
        width: 685px;
        height: 341px;
        background-color: white;
        margin-left: 0;
        display: flex;
        
    }
   
    .what-clients-saying-img {
        display: block;
        width: 193px;
        height: 276px;
        background-image: url(images/clients-saying.svg);
        margin:  32px 35px 32px 25px;
       
    }
    .two-coma {
        display: block;
        width: 70px;
        height: 70px;
        background-image: url(images/two-coma.svg);
        opacity: 100%;
        margin-bottom: -40px;
    }
    .what-clients-saying-text-star {
        width: 405px;
        height: 150px;
        font-size: 18px;
        line-height: 30px;
        margin: 38px 32px 27px 0;
       
    }
    .what-clients-saying-rating a {
        width: 122px;
        height: 33px;
        font-size: 24px;
        line-height: 33px;
        margin: 27px  0 5px;
    }
    .what-clients-saying-rating p {
        font-size: 14px;
        width: 64px;
        height: 25px;
    }
    .what-clients-saying-star {
       margin-top: 46px;
       margin-left: 150px;
       
    }
    .clients-saying-star {
        width: 20px;
        height: 20px;
        background-image: url(images/star-green-mobile.svg);
        margin-right: 14px;
    }
    
    .slick-initialized .slick-slide {
        display: flex;
        margin-left: 2.5px;
        gap: 10px;
    }
    
    .slick-slider {
        margin-top: -301px;
    }
    
    .slick-prev, .slick-next {
        margin-top: -225px;
       
    }
    
    .slick-prev {
        left: auto;
        right: 95px;
        background: url(images/slider-arrow-green.svg); 
        width: 50px;
        height: 50px;  
        background-position: center;
        background-repeat: no-repeat;
    }
    .slick-next {
        left: auto;
        right: 15px;
        background: url(images/slider-arrow-white.svg);
        width: 50px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
    }
   
      
}