

.main-why-chosee{
   
    
    background-color: #0C4B35;
}
.why-choose {
    
    height: 684px;

}
.why-choose-img {
  display: flex;
  list-style-type: none;
}
.main-why-choose-women {
   display: flex;
   width: 345px;
   height: 217px;
   background-image: url(images/young-woman-mobile.svg);
   margin: 50px 15px 30px;
  
  
}


.main-why-choose-text {
    width: 345px;
    height: 163px;
    color: white;
    margin-left: 15px;
    text-align: center;
   margin-bottom: 40px;
}
.main-why-choose-text a {
    text-decoration:  none;
    color: white;
    font-size: 28px;
 
}
.main-why-choose-text p {
    height: 110px;
    font-size: 14px;
    padding-top: 15px;
   
}
.main-why-chosee-cards {
    
    columns: 2;
    width: 345px;
    height: 64px;
}
.main-proper-take {
    width: 158px;
    height: 22px;
    
}
.main-proper-take  a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}






