* {
  box-sizing: border-box;
}

.conteiner {
  max-width: 1120px;
  width: 100%;
}

.hero {
  background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
}

.main {
  font-family: "Nunito", sans-serif;
}

.header-logo-top {
  background-color: #00730C;
}

.conteiner {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  margin: 0 -15px;
}

.header-top {
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-family: "Poppins", sans-serif;
  padding-right: 181px;
}

.address {
  display: flex;
}

.address li {
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.mobile-email {
  width: 20px;
  height: 20px;
  background-image: url(images/email-logo-mobile.svg);
  background-repeat: no-repeat;
}

.mobile-phone {
  width: 20px;
  height: 20px;
  background-image: url(images/phone-mobile.svg);
  background-repeat: no-repeat;
}

.mobile-kol {
  width: 20px;
  height: 20px;
  background-image: url(images/location-mobile.svg);
  background-repeat: no-repeat;
}

.header-top a {
  display: none;
}

.mobile-polo {
  position: relative;
  list-style-type: none;
  width: 66px;
  align-items: center;
  display: flex;
}

.mobile-polo a {
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.polo-img {
  width: 12px;
  height: 6.84px;
  background-image: url(images/arrow-white.svg);
  position: relative;
  left: 52px;
}

.header-button {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Nunito", sans-serif;
}

.logo {
  width: 90px;
}

.header-logo {
  width: 90px;
  height: 40px;
  display: flex;
  background-image: url(images/logo-mobile.svg);
  background-repeat: no-repeat;
}

.logo-menu {
  display: none;
}

.logo-call {
  width: 40px;
  height: 34px;
  border: none;
  border-radius: 10px;
  background-color: #00730C;
  align-items: center;
  display: flex;
  margin-left: 149px;
  margin-right: 40px;
}

.logo-call-img {
  width: 20px;
  height: 20px;
  background-position: center;
  background-image: url(images/group-mobile.svg);
  background-repeat: no-repeat;
  padding-left: 30px;
}

.logo-call a {
  display: none;
}

.logo-segment {
  width: 30px;
  height: 19px;
  display: block;
}

.segment {
  width: 18px;
}

.logo-segment-menu {
  height: 2px;
  background-color: #00730C;
  margin-bottom: 5px;
}

@media (min-width: 1120px) {
  .header-logo-top {
    background-color: #00730C;
  }
  .conteiner {
    max-width: 1418px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    display: flex;
    margin: 0 -15px;
  }
  .header-top {
    height: 59px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-family: "Poppins", sans-serif;
    padding-right: 548px;
  }
  .address {
    display: flex;
  }
  .address li {
    padding-right: 30px;
    display: flex;
    align-items: center;
  }
  .mobile-email {
    width: 281px;
    height: 25px;
    background-image: url(images/email-logo.svg);
    background-repeat: no-repeat;
  }
  .mobile-phone {
    width: 135px;
    height: 25px;
    background-image: url(images/phone.svg);
    background-repeat: no-repeat;
  }
  .mobile-kol {
    width: 275px;
    height: 25px;
    background-image: url(images/location.svg);
    background-repeat: no-repeat;
  }
  .header-top a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding-left: 35px;
    display: flex;
    justify-content: center;
  }
  .mobile-polo {
    position: relative;
    list-style-type: none;
    width: 66px;
    align-items: center;
    display: flex;
  }
  .mobile-polo a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
  }
  .polo-img {
    width: 12px;
    height: 6.84px;
    background-image: url(images/arrow-white.svg);
    position: relative;
    left: 52px;
  }
  .header-button {
    height: 85px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Nunito", sans-serif;
  }
  .header-logo {
    width: 120px;
    height: 55px;
    display: flex;
    background-image: url(images/logo.svg);
    background-repeat: no-repeat;
  }
  .logo-menu {
    display: flex;
    height: 50px;
    padding-left: 390px;
    align-items: center;
    padding-right: 56px;
  }
  .logo-menu li {
    position: relative;
    margin-right: 44px;
  }
  .logo-menu-home {
    width: 62px;
    position: relative;
  }
  .logo-menu-company {
    width: 87px;
    position: relative;
  }
  .logo-menu-services {
    width: 79px;
    position: relative;
  }
  .logo-menu-project {
    width: 70px;
    position: relative;
  }
  .logo-menu-blog {
    width: 52px;
    position: relative;
  }
  .logo-menu-contact {
    width: 58px;
  }
  .logo-menu a {
    font-size: 16px;
    line-height: 42.5px;
    color: #212529;
    text-decoration: none;
  }
  .logo-arrow {
    display: block;
    width: 12px;
    height: 6.84px;
    background-image: url(images/arrow-black.svg);
    position: absolute;
    right: 3px;
    top: 19px;
  }
  .logo-menu-change:hover a {
    color: #00730C;
  }
  .logo-menu-change:hover .logo-arrow {
    background-image: url(images/arrow-green.svg);
  }
  .logo-call {
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #00730C;
    align-items: center;
    display: flex;
    margin-left: 0;
  }
  .logo-call-img {
    height: 30px;
    background-position: center;
    background-image: url(images/group.svg);
    background-repeat: no-repeat;
    padding-left: 60px;
  }
  .logo-call a {
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    color: white;
    text-decoration: none;
    display: block;
  }
  .logo-segment {
    display: none;
  }
}
.hero-row {
  width: 100%;
  height: 687px;
  margin: 0 -15px;
}

.hero-left {
  display: grid;
}

.hero-right {
  display: grid;
  margin-top: -5px;
  margin-bottom: 48px;
}

.hero-right-menu {
  display: block;
  width: 375px;
  height: 240px;
  background-image: url(images/img-mobile.svg);
  background-repeat: no-repeat;
  order: 1;
  position: relative;
}

.hero-left-menu {
  width: 346px;
  order: 2;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  font-family: "Nunito", sans-serif;
}

.hero-left-menu a {
  text-decoration: none;
}

.hero-left-menu-logo {
  display: flex;
}

.hero-left-menu-logo a {
  color: #212529;
  font-size: 14px;
}

.hero-left-menu-img {
  display: flex;
  height: 20px;
  background-image: url(images/vector.svg);
  background-repeat: no-repeat;
  padding-left: 30px;
}

.hero-logo {
  height: 76px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.hero-top {
  margin-bottom: 40px;
}

.hero-logo a {
  color: #212529;
  font-size: 28px;
  line-height: 38px;
}

.hero-logo b {
  position: relative;
  color: #00730C;
}

.hero-left-menu p {
  color: #676767;
  font-size: 14px;
  line-height: 22px;
}

.logo-call-quate {
  width: 303px;
  height: 44px;
  background-color: #00730C;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 21px;
}

.logo-call-arrow {
  display: flex;
  align-items: center;
  padding-left: 105px;
  padding-top: 20px;
}

.logo-call-quate a {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  color: white;
  text-decoration: none;
  display: block;
}

.logo-quate p {
  color: #00730C;
  padding-right: 12px;
}

.logo-quate-arrow {
  width: 16px;
  height: 13px;
  background-image: url(images/arrow-green-mobile.svg);
  background-repeat: no-repeat;
  display: flex;
  padding-left: 12px;
}

.hero-left-circle {
  display: flex;
  margin-right: 1px;
  margin-left: 55px;
  margin-top: 40px;
}

.hero-circle {
  width: 133px;
  height: 32px;
  display: flex;
  background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
  border-radius: 32px;
  align-items: center;
  margin: 0 6px;
}

.hero-circle a {
  font-size: 10px;
  color: #212529;
  line-height: 14px;
}

.hero-circle-figure {
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.hero-none {
  display: none;
}

@media (min-width: 1120px) {
  .hero-left {
    display: flex;
  }
  .hero-row {
    width: 100%;
    height: 719px;
    margin: 0 -15px;
    display: flex;
  }
  .hero-left-menu {
    width: 649px;
    order: revert;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: 133px;
    font-family: "Nunito", sans-serif;
  }
  .hero-left-menu a {
    text-decoration: none;
  }
  .hero-left-menu-logo {
    display: flex;
    align-items: center;
  }
  .hero-left-menu-logo a {
    color: #212529;
    font-size: 16px;
  }
  .hero-left-menu-img {
    display: flex;
    height: 20px;
    background-image: url(images/vector.svg);
    background-repeat: no-repeat;
    padding-left: 30px;
  }
  .hero-logo {
    height: 173px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hero-logo a {
    color: #212529;
    font-size: 58px;
    line-height: 79px;
  }
  .hero-logo b {
    position: relative;
    color: #00730C;
  }
  .hero-right-menu {
    display: block;
    width: 760px;
    height: 673px;
    background-image: url(images/img.svg);
    background-repeat: no-repeat;
    margin-top: 51px;
    position: absolute;
  }
  .hero-left-menu p {
    color: #676767;
    font-size: 18px;
    line-height: 30px;
  }
  .hero-top {
    margin-bottom: 50px;
    margin-right: 90px;
  }
  .logo-call-quate {
    width: 170px;
    height: 50px;
    background-color: #00730C;
    align-items: center;
    display: flex;
    padding-left: 35px;
  }
  .logo-call-quate a {
    font-size: 18px;
  }
  .logo-quate {
    display: flex;
    width: 510px;
    align-items: center;
    padding-bottom: 58px;
    padding-left: 56px;
  }
  .logo-quate p {
    padding-left: 30px;
    padding-right: 15px;
  }
  .logo-call-arrow {
    padding-left: 0;
    padding-top: 0;
  }
  .logo-quate-arrow {
    width: 20px;
    height: 16px;
    background-image: url(images/arrow-grey.svg);
    background-repeat: no-repeat;
    display: flex;
  }
  .hero-left-circle {
    display: flex;
    margin: 0;
  }
  .hero-left-circle li {
    padding-right: 10px;
  }
  .hero-circle {
    width: 149px;
    height: 50px;
    display: flex;
    align-items: center;
    background: none;
  }
  .hero-circle-figure {
    width: 50px;
    height: 50px;
    display: flex;
    background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
    border-radius: 50%;
    justify-content: center;
    padding-top: 17px;
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
  }
  .hero-circle a {
    width: 89px;
    text-decoration: none;
    font-size: 16px;
    color: #212529;
    padding-left: 10px;
    line-height: 20px;
  }
}
.main-row {
  width: 100%;
}

.services {
  margin-top: 50px;
  font-family: "Nunito", sans-serif;
  color: #676767;
}

.main-logo {
  width: 267px;
  height: 38px;
  font-size: 28px;
  display: flex;
  margin-left: 54px;
  align-items: center;
}

.main-logo a {
  text-decoration: none;
  color: #212529;
}

.main-logo b {
  color: #00730C;
}

.main-text {
  width: 344px;
  height: 110px;
  font-size: 14px;
  margin-top: 15px;
  list-style-type: none;
}

.main-services-menu {
  width: 345px;
  height: 116px;
  display: flex;
  padding: 20px;
  background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
  margin: 0 10px 20px 10px;
}

.main-services-menu-block {
  display: block;
  width: 235px;
  height: 76px;
}

.main-services-menu a {
  text-decoration: none;
  color: #212529;
  font-size: 16px;
}

.main-services-menu p {
  font-size: 14px;
  padding-top: 10px;
}

.main-services-foto {
  display: block;
  width: 90px;
  height: 76px;
  background-position: center;
  background-repeat: no-repeat;
}

.tree-plaiting {
  background-image: url(images/tree-mobile.svg);
}

.grass-cuttin {
  background-image: url(images/grass-mobile.svg);
}

.garden-design {
  background-image: url(images/garden-mobile.svg);
}

.plant-growing {
  background-image: url(images/plant-mobile.svg);
}

.flower-scaping {
  background-image: url(images/flower-mobile.svg);
}

.branch-cutting {
  background-image: url(images/branch-mobile.svg);
}

.pests-control {
  background-image: url(images/pests-mobile.svg);
}

.watering-irrigation {
  background-image: url(images/watering-mobile.svg);
}

.main-services-img {
  width: 345px;
  height: 462px;
  margin: 30px 0;
  display: flex;
  position: relative;
}

.main-services-img-green {
  display: block;
  width: 188px;
  height: 293px;
  background-color: #00730C;
  position: absolute;
}

.main-services-img-medium {
  display: flex;
  width: 291px;
  height: 358px;
  margin: 12px;
  position: absolute;
  background-image: url(images/medium-shot-man-looking-plant.svg);
}

.main-services-img-close {
  display: flex;
  width: 241px;
  height: 162px;
  position: absolute;
  margin-left: 103px;
  margin-top: 300px;
  background-image: url(images/close-up-hands-holding-house-plant.svg);
}

.main-services-text {
  display: block;
  width: 345px;
  height: 330px;
  font-size: 28px;
}

.main-services-text a {
  text-decoration: none;
  color: #212529;
  padding-bottom: 15px;
}

.main-services-text b {
  color: #00730C;
}

.main-services-text p {
  font-size: 14px;
  padding-top: 15px;
}

.main-services-cards {
  width: 344px;
  height: 208px;
  -moz-columns: 2;
       columns: 2;
}

.main-services-cards-menu {
  width: 162px;
  height: 94px;
  background: #FFFFFF;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 5px;
  position: relative;
  margin-bottom: 15px;
}

.main-services-cards-foto {
  display: block;
  width: 132px;
  height: 45px;
  position: absolute;
  margin: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-services-cards-menu a {
  display: block;
  width: 132px;
  height: 19px;
  text-decoration: none;
  color: #212529;
  font-size: 14px;
  text-align: center;
  position: absolute;
  margin: 60px 15px 15px;
  line-height: 19px;
}

.main-services-cards-our-mission {
  background-image: url(images/our-mission.svg);
}

.main-services-cards-support-team {
  background-image: url(images/support-team.svg);
}

.main-services-cards-our-vision {
  background-image: url(images/our-vision.svg);
}

.main-services-cards-clients-trust {
  background-image: url(images/clients-trust.svg);
}

.cards-btn {
  width: 167px;
  height: 40px;
  color: white;
  background-color: #00730C;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.main-services-cards-btn {
  margin: 30px 89px 50px;
}

@media (min-width: 1120px) {
  .services {
    margin-top: 100px;
  }
  .main-logo {
    width: 437px;
    height: 61px;
    font-size: 45px;
    display: flex;
    margin: 0 auto;
  }
  .main-text {
    width: 1136px;
    height: 60px;
    display: flex;
    margin: 0 auto;
    font-size: 18px;
    align-items: center;
    margin-top: 30px;
  }
  .main-services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .main-services-menu {
    width: 327px;
    height: 366px;
    display: block;
    padding: 20px;
    margin: 0 10px 20px 10px;
  }
  .main-services-menu-block {
    width: 243px;
    height: 127px;
    text-align: center;
    margin: 0 auto;
  }
  .main-services-menu a {
    display: block;
    height: 33px;
    text-decoration: none;
    font-size: 24px;
  }
  .main-services-menu p {
    display: block;
    height: 84px;
    font-size: 16px;
  }
  .main-services-foto {
    display: block;
    width: 176px;
    height: 176px;
    margin: 0 auto;
  }
  .tree-plaiting {
    background-image: url(images/tree.svg);
  }
  .grass-cuttin {
    background-image: url(images/grass.svg);
  }
  .garden-design {
    background-image: url(images/garden.svg);
  }
  .plant-growing {
    background-image: url(images/plant.svg);
  }
  .flower-scaping {
    background-image: url(images/flower.svg);
  }
  .branch-cutting {
    background-image: url(images/branch.svg);
  }
  .pests-control {
    background-image: url(images/pests.svg);
  }
  .watering-irrigation {
    background-image: url(images/watering.svg);
  }
  .main-services-menu:hover {
    background: #00730C;
    color: white;
  }
  .main-services-menu:hover a {
    color: white;
  }
  .main-services-menu:hover .tree-plaiting {
    background-image: url(images/tree-white.svg);
  }
  .main-services-menu:hover .grass-cuttin {
    background-image: url(images/grass-white.svg);
  }
  .main-services-menu:hover .garden-design {
    background-image: url(images/garden-white.svg);
  }
  .main-services-menu:hover .plant-growing {
    background-image: url(images/plant-white.svg);
  }
  .main-services-menu:hover .flower-scaping {
    background-image: url(images/flower-white.svg);
  }
  .main-services-menu:hover .branch-cutting {
    background-image: url(images/branch-white.svg);
  }
  .main-services-menu:hover .pests-control {
    background-image: url(images/pests-white.svg);
  }
  .main-services-menu:hover .watering-irrigation {
    background-image: url(images/watering-white.svg);
  }
  .main-menu {
    -moz-columns: 2;
         columns: 2;
    height: 903px;
  }
  .main-services-img {
    width: 693px;
    height: 903px;
    margin: 0;
  }
  .main-services-img-green {
    width: 450px;
    height: 706px;
  }
  .main-services-img-medium {
    width: 601px;
    height: 741px;
    margin: 36px 24px;
    background-image: url(images/img-man.svg);
  }
  .main-services-img-close {
    width: 456px;
    height: 356px;
    margin-left: 237px;
    margin-top: 597px;
    background-image: url(images/img-flayers.svg);
    background-repeat: no-repeat;
  }
  .main-services-text {
    width: 634px;
    height: 432px;
    font-size: 45px;
    margin-top: 44.5px;
    margin-left: 27px;
  }
  .main-services-text a {
    line-height: 61px;
  }
  .main-services-text p {
    font-size: 16px;
    line-height: 28px;
    padding-top: 30px;
  }
  .main-services-cards {
    width: 634px;
    height: 224px;
    margin-top: 50px;
    margin-left: 27px;
  }
  .main-services-cards-menu {
    width: 330px;
    height: 97px;
    background: #FFFFFF;
    box-shadow: none;
  }
  .main-services-cards-foto {
    width: 67px;
    height: 67px;
    margin: 15px 30px;
  }
  .main-services-cards-menu a {
    width: 198px;
    height: 33px;
    font-size: 24px;
    margin: 32px 5px 32px 127px;
    line-height: 33px;
  }
  .main-services-cards-our-mission {
    background-image: url(images/our-mission-web.svg);
  }
  .main-services-cards-support-team {
    background-image: url(images/support-team-web.svg);
  }
  .main-services-cards-our-vision {
    background-image: url(images/our-vision-web.svg);
  }
  .main-services-cards-clients-trust {
    background-image: url(images/clients-trust-web.svg);
  }
  .cards-btn {
    width: 190px;
    height: 50px;
    font-size: 18px;
  }
  .main-services-cards-btn {
    margin-left: 27px;
  }
}
.main-why-chosee {
  background-color: #0C4B35;
}

.why-choose {
  display: block;
  height: 684px;
}

.why-choose-img {
  display: flex;
  list-style-type: none;
  order: 2;
  position: relative;
  margin: 0 0 30px;
}

.main-why-choose-women {
  width: 345px;
  height: 217px;
  background-image: url(images/young-woman-mobile.svg);
  margin-top: 50px;
}

.main-why-choose-text {
  width: 345px;
  height: 163px;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.main-why-choose-text a {
  text-decoration: none;
  color: white;
  font-size: 28px;
}

.main-why-choose-text p {
  height: 110px;
  font-size: 14px;
  padding-top: 15px;
  line-height: 22px;
}

.main-why-chosee-cards {
  -moz-columns: 2;
       columns: 2;
  width: 345px;
  height: 64px;
}

.main-why-chosee-cards li {
  margin-bottom: 20px;
}

.main-proper-take {
  display: flex;
  width: 158px;
  height: 22px;
  align-items: center;
}

.main-proper-take b {
  display: none;
}

.main-proper-take a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.main-proper-take-circle {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  background-image: url(images/arrow-green-why-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.main-why-choose-cards-btn {
  margin: 30px 89px 50px;
}

@media (min-width: 1120px) {
  .why-choose {
    height: 659px;
    display: grid;
  }
  .why-choose-img {
    position: absolute;
    margin-top: 64.5px;
    margin-left: 742px;
  }
  .main-why-choose-women {
    width: 672px;
    height: 426px;
    background-image: url(images/young-woman.svg);
  }
  .main-why-choose-text {
    width: 656px;
    text-align: left;
    margin-top: 100px;
  }
  .main-why-choose-text a {
    font-size: 45px;
  }
  .main-why-choose-text p {
    height: 120px;
    font-size: 18px;
    padding-top: 30px;
    line-height: 30px;
  }
  .main-why-chosee-cards {
    width: 600px;
    height: 86px;
  }
  .main-proper-take {
    display: flex;
    width: 242px;
    height: 33px;
  }
  .main-proper-take a {
    display: none;
  }
  .main-proper-take b {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 24px;
  }
  .main-proper-take-circle {
    width: 30px;
    height: 30px;
    background-image: url(images/arrow-green-why.svg);
    margin-right: 10px;
  }
  .main-why-choose-cards-btn {
    margin: 50px 0 112px;
  }
}
.working-process {
  display: block;
  height: 1090px;
}

.working-process-text {
  width: 345px;
  height: 163px;
}

.main-what-clients {
  background-color: #E6F6EA;
  height: 585px;
  color: #676767;
}

.what-clients {
  position: relative;
  display: flex;
}

.what-clients-text {
  width: 375px;
  height: 585px;
  display: block;
  padding-top: 50px;
  position: absolute;
}

.what-clients-text a {
  padding-left: 47.5px;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  text-align: center;
  text-decoration: none;
}

.what-clients-text b {
  color: #00730C;
}

.what-clients-text p {
  width: 345px;
  height: 110px;
  padding-top: 15px;
  font-size: 14px;
  line-height: 22px;
}

.what-clients-slider {
  width: 65px;
  display: flex;
  justify-content: space-between;
  margin-top: 210px;
  margin-left: 280px;
  position: absolute;
  z-index: 10;
}

.what-clients-slider-btn {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #00730C;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-btn-left {
  background-image: url(images/slider-arrow-green.svg);
}

.slider-btn-right {
  background-image: url(images/slider-arrow-white.svg);
}

.main-what-clients-saying {
  width: 100%;
  height: 341px;
  display: flex;
  margin-top: 253px;
  margin-left: 15px;
  gap: 0;
}

.what-clients-saying {
  width: 345px;
  height: 431px;
  background-color: white;
  display: block;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
}

.what-clients-saying-img {
  display: block;
  width: 135px;
  height: 183px;
  background-image: url(images/clients-saying-mobile.svg);
  margin: 20px 20px 40px;
}

.two-coma {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(images/two-coma-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 20%;
  position: relative;
  margin-bottom: -20px;
}

.what-clients-saying-text-star {
  width: 305px;
  height: 109px;
  font-size: 14px;
  line-height: 18px;
  margin: 0 20px 15px;
}

.one {
  display: none;
}

.what-two {
  display: none;
}

.what-three {
  display: none;
}

.what-clients-saying-rating {
  display: flex;
}

.what-clients-saying-rating a {
  display: block;
  width: 81px;
  height: 22px;
  font-size: 16px;
  line-height: 22px;
  color: #212529;
  font-weight: 400;
  text-decoration: none;
  margin: 15px 0 2px;
}

.what-clients-saying-rating p {
  font-size: 12px;
  width: 48px;
  height: 16px;
}

.what-clients-saying-star {
  width: 124px;
  height: 25px;
  margin-top: 22px;
  display: flex;
  margin-left: 80px;
}

.clients-saying-star {
  width: 20px;
  height: 20px;
  background-image: url(images/star-green-mobile.svg);
  margin-right: 14px;
}

.main-frequently-asked {
  height: 1000px;
}

@media (min-width: 1120px) {
  .what-clients-text {
    width: 442px;
    padding-top: 100px;
  }
  .what-clients-text a {
    padding-left: 0px;
    font-size: 45px;
    line-height: 61px;
  }
  .what-clients-text p {
    width: 956px;
    height: 60px;
    padding-top: 30px;
    font-size: 18px;
    line-height: 30px;
  }
  .what-clients-slider {
    width: 130px;
    margin-top: 200px;
    right: 20px;
  }
  .what-clients-slider-btn {
    display: block;
    width: 50px;
    height: 50px;
  }
  .what-clients-saying {
    width: 685px;
    height: 341px;
    background-color: white;
    margin-left: 0;
    display: flex;
  }
  .what-two {
    display: flex;
  }
  .what-three {
    display: none;
  }
  .main-what-clients-saying {
    margin-top: 301px;
    margin-left: 0;
    gap: 20px;
  }
  .what-clients-saying-img {
    display: block;
    width: 193px;
    height: 276px;
    background-image: url(images/clients-saying.svg);
    margin: 32px 35px 32px 25px;
  }
  .two-coma {
    display: block;
    width: 70px;
    height: 70px;
    background-image: url(images/two-coma.svg);
    opacity: 100%;
    margin-bottom: -40px;
  }
  .what-clients-saying-text-star {
    width: 405px;
    height: 150px;
    font-size: 18px;
    line-height: 30px;
    margin: 38px 32px 27px 0;
  }
  .what-clients-saying-rating a {
    width: 122px;
    height: 33px;
    font-size: 24px;
    line-height: 33px;
    margin: 27px 0 5px;
  }
  .what-clients-saying-rating p {
    font-size: 14px;
    width: 64px;
    height: 25px;
  }
  .what-clients-saying-star {
    margin-top: 46px;
    margin-left: 150px;
  }
  .clients-saying-star {
    width: 20px;
    height: 20px;
    background-image: url(images/star-green-mobile.svg);
    margin-right: 14px;
  }
}/*# sourceMappingURL=style.css.map */