* {
  box-sizing: border-box;
}

.conteiner {
  max-width: 1120px;
  width: 100%;
}

.hero {
  background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
}

.header-logo-top {
  background-color: #00730C;
}

.conteiner {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  margin: 0 -15px;
}

.header-top {
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-family: "Poppins", sans-serif;
  padding-right: 181px;
}

.address {
  display: flex;
}

.address li {
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.mobile-email {
  width: 20px;
  height: 20px;
  background-image: url(images/email-logo-mobile.svg);
  background-repeat: no-repeat;
}

.mobile-phone {
  width: 20px;
  height: 20px;
  background-image: url(images/phone-mobile.svg);
  background-repeat: no-repeat;
}

.mobile-kol {
  width: 20px;
  height: 20px;
  background-image: url(images/location-mobile.svg);
  background-repeat: no-repeat;
}

.header-top a {
  display: none;
}

.mobile-polo {
  position: relative;
  list-style-type: none;
  width: 66px;
  align-items: center;
  display: flex;
}

.mobile-polo a {
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.polo-img {
  width: 12px;
  height: 6.84px;
  background-image: url(images/arrow-white.svg);
  position: relative;
  left: 52px;
}

.header-button {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Nunito", sans-serif;
}

.logo {
  width: 90px;
}

.header-logo {
  width: 90px;
  height: 40px;
  display: flex;
  background-image: url(images/logo-mobile.svg);
  background-repeat: no-repeat;
}

.logo-menu {
  display: none;
}

.logo-call {
  width: 40px;
  height: 34px;
  border: none;
  border-radius: 10px;
  background-color: #00730C;
  align-items: center;
  display: flex;
  margin-left: 149px;
  margin-right: 40px;
}

.logo-call-img {
  width: 20px;
  height: 20px;
  background-position: center;
  background-image: url(images/group-mobile.svg);
  background-repeat: no-repeat;
  padding-left: 30px;
}

.logo-call a {
  display: none;
}

.logo-segment {
  width: 30px;
  height: 19px;
  display: block;
}

.segment {
  width: 18px;
}

.logo-segment-menu {
  height: 2px;
  background-color: #00730C;
  margin-bottom: 5px;
}

@media (min-width: 1120px) {
  .header-logo-top {
    background-color: #00730C;
  }
  .conteiner {
    max-width: 1418px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    display: flex;
    margin: 0 -15px;
  }
  .header-top {
    height: 59px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-family: "Poppins", sans-serif;
    padding-right: 548px;
  }
  .address {
    display: flex;
  }
  .address li {
    padding-right: 30px;
    display: flex;
    align-items: center;
  }
  .mobile-email {
    width: 281px;
    height: 25px;
    background-image: url(images/email-logo.svg);
    background-repeat: no-repeat;
  }
  .mobile-phone {
    width: 135px;
    height: 25px;
    background-image: url(images/phone.svg);
    background-repeat: no-repeat;
  }
  .mobile-kol {
    width: 275px;
    height: 25px;
    background-image: url(images/location.svg);
    background-repeat: no-repeat;
  }
  .header-top a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding-left: 35px;
    display: flex;
    justify-content: center;
  }
  .mobile-polo {
    position: relative;
    list-style-type: none;
    width: 66px;
    align-items: center;
    display: flex;
  }
  .mobile-polo a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
  }
  .polo-img {
    width: 12px;
    height: 6.84px;
    background-image: url(images/arrow-white.svg);
    position: relative;
    left: 52px;
  }
  .header-button {
    height: 85px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Nunito", sans-serif;
  }
  .header-logo {
    width: 120px;
    height: 55px;
    display: flex;
    background-image: url(images/logo.svg);
    background-repeat: no-repeat;
  }
  .logo-menu {
    display: flex;
    height: 50px;
    padding-left: 390px;
    align-items: center;
    padding-right: 56px;
  }
  .logo-menu li {
    position: relative;
    margin-right: 44px;
  }
  .logo-menu-home {
    width: 62px;
    position: relative;
  }
  .logo-menu-company {
    width: 87px;
    position: relative;
  }
  .logo-menu-services {
    width: 79px;
    position: relative;
  }
  .logo-menu-project {
    width: 70px;
    position: relative;
  }
  .logo-menu-blog {
    width: 52px;
    position: relative;
  }
  .logo-menu-contact {
    width: 58px;
  }
  .logo-menu a {
    font-size: 16px;
    line-height: 42.5px;
    color: #212529;
    text-decoration: none;
  }
  .logo-arrow {
    display: block;
    width: 12px;
    height: 6.84px;
    background-image: url(images/arrow-black.svg);
    position: absolute;
    right: 3px;
    top: 19px;
  }
  .logo-menu a:hover {
    color: #00730C;
  }
  .logo-arrow:hover {
    background-image: url(images/arrow-green.svg);
  }
  .logo-call {
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #00730C;
    align-items: center;
    display: flex;
    margin-left: 0;
  }
  .logo-call-img {
    height: 30px;
    background-position: center;
    background-image: url(images/group.svg);
    background-repeat: no-repeat;
    padding-left: 60px;
  }
  .logo-call a {
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    color: white;
    text-decoration: none;
    display: block;
  }
  .logo-segment {
    display: none;
  }
}
.hero-row {
  width: 100%;
  height: 687px;
  margin: 0 -15px;
}

.hero-left {
  display: grid;
}

.hero-right {
  display: grid;
  margin-top: -5px;
  margin-bottom: 48px;
}

.hero-right-menu {
  display: block;
  width: 375px;
  height: 240px;
  background-image: url(images/img-mobile.svg);
  background-repeat: no-repeat;
  order: 1;
  position: relative;
}

.hero-left-menu {
  width: 346px;
  order: 2;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  font-family: "Nunito", sans-serif;
}

.hero-left-menu a {
  text-decoration: none;
}

.hero-left-menu-logo {
  display: flex;
}

.hero-left-menu-logo a {
  color: #212529;
  font-size: 14px;
}

.hero-left-menu-img {
  display: flex;
  height: 20px;
  background-image: url(images/vector.svg);
  background-repeat: no-repeat;
  padding-left: 30px;
}

.hero-logo {
  height: 76px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.hero-top {
  margin-bottom: 40px;
}

.hero-logo a {
  color: #212529;
  font-size: 28px;
  line-height: 38px;
}

.hero-logo b {
  position: relative;
  color: #00730C;
}

.hero-left-menu p {
  color: #676767;
  font-size: 14px;
  line-height: 22px;
}

.logo-call-quate {
  width: 303px;
  height: 44px;
  background-color: #00730C;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 21px;
}

.logo-call-arrow {
  display: flex;
  align-items: center;
  padding-left: 105px;
  padding-top: 20px;
}

.logo-call-quate a {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  color: white;
  text-decoration: none;
  display: block;
}

.logo-quate p {
  color: #00730C;
  padding-right: 12px;
}

.logo-quate-arrow {
  width: 16px;
  height: 13px;
  background-image: url(images/arrow-green-mobile.svg);
  background-repeat: no-repeat;
  display: flex;
  padding-left: 12px;
}

.hero-left-circle {
  display: flex;
  margin-right: 1px;
  margin-left: 55px;
  margin-top: 40px;
}

.hero-circle {
  width: 133px;
  height: 32px;
  display: flex;
  background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
  border-radius: 32px;
  align-items: center;
  margin: 0 6px;
}

.hero-circle a {
  font-size: 10px;
  color: #212529;
  line-height: 14px;
}

.hero-circle-figure {
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.hero-none {
  display: none;
}

@media (min-width: 1120px) {
  .hero-left {
    display: flex;
  }
  .hero-row {
    width: 100%;
    height: 719px;
    margin: 0 -15px;
    display: flex;
  }
  .hero-left-menu {
    width: 649px;
    order: revert;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: 133px;
    font-family: "Nunito", sans-serif;
  }
  .hero-left-menu a {
    text-decoration: none;
  }
  .hero-left-menu-logo {
    display: flex;
    align-items: center;
  }
  .hero-left-menu-logo a {
    color: #212529;
    font-size: 16px;
  }
  .hero-left-menu-img {
    display: flex;
    height: 20px;
    background-image: url(images/vector.svg);
    background-repeat: no-repeat;
    padding-left: 30px;
  }
  .hero-logo {
    height: 173px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hero-logo a {
    color: #212529;
    font-size: 58px;
    line-height: 79px;
  }
  .hero-logo b {
    position: relative;
    color: #00730C;
  }
  .hero-right-menu {
    display: block;
    width: 1013px;
    height: 673px;
    background-image: url(images/img.svg);
    background-repeat: no-repeat;
    right: 5px;
    top: 46px;
    position: relative;
  }
  .hero-left-menu p {
    color: #676767;
    font-size: 18px;
    line-height: 30px;
  }
  .hero-top {
    margin-bottom: 50px;
    margin-right: 90px;
  }
  .logo-call-quate {
    width: 170px;
    height: 50px;
    background-color: #00730C;
    align-items: center;
    display: flex;
    padding-left: 35px;
  }
  .logo-call-quate a {
    font-size: 18px;
  }
  .logo-quate {
    display: flex;
    width: 510px;
    align-items: center;
    padding-bottom: 58px;
    padding-left: 56px;
  }
  .logo-quate p {
    padding-left: 30px;
    padding-right: 15px;
  }
  .logo-call-arrow {
    padding-left: 0;
    padding-top: 0;
  }
  .logo-quate-arrow {
    width: 20px;
    height: 16px;
    background-image: url(images/arrow-grey.svg);
    background-repeat: no-repeat;
    display: flex;
  }
  .hero-left-circle {
    display: flex;
    margin: 0;
  }
  .hero-left-circle li {
    padding-right: 10px;
  }
  .hero-circle {
    width: 149px;
    height: 50px;
    display: flex;
    align-items: center;
    background: none;
  }
  .hero-circle-figure {
    width: 50px;
    height: 50px;
    display: flex;
    background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
    border-radius: 50%;
    justify-content: center;
    padding-top: 17px;
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
  }
  .hero-circle a {
    width: 89px;
    text-decoration: none;
    font-size: 16px;
    color: #212529;
    padding-left: 10px;
    line-height: 20px;
  }
}
.main-row {
  width: 100%;
  height: 1265px;
  margin: 0 -15px;
}

.services {
  margin-top: 50px;
}/*# sourceMappingURL=style.css.map */